*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: #748CAB;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: 90%;
    width: 27%;
    background-color: #0D1321;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 2px solid black;
    /* box-shadow: 0 0 5px 5px black; */
}
.container h1{
    color: #D1D4CD;
}
.output{
    width: 95%;
    height: 15%;
    background-color: #F0EBD8;
    border-radius: 20px;
    color: #0D1321;
    padding: 15px;
    font-size: xx-large;
    font-weight: 500;
}
.buttons{
    width: 95%;
    height: 60%;
    margin: 5px;
    background-color: #1D2D44;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.buttons input{
    width: 22%;
    height: 18%;
    margin: 2.5px;
    border-radius: 20px;
    background-color: #152033;
    color: #D1D4CD;
    font-weight: 800;
    font-size: large;
}
.buttons input:hover{
    cursor: pointer;
    box-shadow: 0 0 1px 2px #D1D4CD;
}

#newB{
visibility: hidden;
}
#newB1{
    visibility: visible;
    height: 40px;
    width: max-content;
    padding: 3px;
    border-radius: 10px;
    background-color: #152033;
    color: #D1D4CD;
}
#newB1:hover{
    cursor: pointer;
    box-shadow: 0 0 1px 2px #D1D4CD;
}